<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">LYRICAL QUOTES</h2>

    <p class="text-center">Let us bear witness to some of the greatest lyrics you have ever heard! </p>
    <div>
      <app-quote-form (emitQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <br>

    <div class="row">
      <div class="col-12">

        <h3>Last Added lyrical Quote</h3>
        <div *ngFor='let quote of quotes; let i = index'>
          <app-quote-details [quote]="quote" [quote]='quote' (isComplete) = 'deleteQuote($event,i)' ></app-quote-details>
        </div>
      </div>

      
      </div>
    </div>
  </div>
