<form (ngSubmit)='submitQuote()'>

        <div class="form-group">
<div>
            <label for="lyrics"><b>Lyrics:</b></label>
            <textarea required class="form-control" id="lyrics" [(ngModel)]="quoteLyrics" name="lyrics"  placeholder="Your favourite lyrical quote" rows="2" required></textarea>

<p>Rafiki, please give us lyrical quotes.</p>
</div>
        <div class="form-group">

                <label for="name"><b>Author name:</b></label>
                <input required [(ngModel)]="quoteName" type="text" placeholder="Author name" required class="form-control" id="name" name="author">

<p> Rafiki, what is your name? </p>
            </div>
        </div>

            <button class="btn btn-info text-center" value = "submit" type="submit">Submit lyrical quote</button>
    </form>
